<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>El resultado es: <%= numero %></h1>
    <form>
      <input type="number" name="numero1" placeholder="Numero 1">
      <input type="number" name="numero2" placeholder="Numero 2">
      <button type="submit">Calcular</button>
    </form>
  </body>
</html>
